.navbar-home {
  // background-color: white;
  width: 100vw;
  height: $navbar-height;
  display: flex;
  position: fixed;
  color: #4b2d12;

  a {
    font-size: 3rem;
    margin: 30px;
  }
}

// MAIN SECTION

.main-section {
  background-image: url('/vector3.svg');
  background-size: cover;
  

  height: 100vh;
  padding-top: $navbar-height;

  color: #193747;

  .container {
    @include flex(display, flex);
    @include flex(justify-content, center);
    @include flex(flex-direction, column);
  }

  &__info {
    min-height: 30vh;
    padding: 0 2rem;
    @include flex(display, flex);
    @include flex(flex-direction, column);
    @include flex(align-items, flex-start);

    @media (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }

    @media (max-width: 768px) {
      padding: 5rem;
    }
  }

  h1 {
    font-size: 10rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 4rem;

    @media (max-width: 1024px) {
      margin: 0 auto 2rem;
    }
  }

  p {
    // text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    width: 40%;

    @media (max-width: 1024px) {
      text-align: center;
      width: 100%;
    }
  }

  &__figure {
    width: 50%;
    padding: 2rem;

    @include flex(display, flex);
    @include flex(justify-content, center);
    @include flex(align-items, center);
    
    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      padding: 5rem;
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }
}

// INSTRUCTION SECTION

.instructions-section {
  background-color: #79b6bf;
  color: #ffffff;
  padding: 4rem 0;

  width: 100vw;
  max-width: 100%;

  &--light {
    background-color: white;
    color: #193747;
  }

  &__title {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__info {
    margin-top: 5vh;
    min-height: 30vh;
    width: 50%;
    padding: 2rem;

    @include flex(display, flex);
    @include flex(flex-direction, column);
    @include flex(align-items, flex-start);

    @media (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }

    h3 {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 4.5rem;
    }

    p {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
  }

  &__figure {
    width: 50%;
    padding: 2rem;

    @include flex(display, flex);
    @include flex(justify-content, flex-end);
    @include flex(align-items, flex-start);

    @media (max-width: 1024px) {
      width: 100%;
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }

  article {
    padding: 0 5rem;
    @include flex(display, flex);
    @include flex(justify-content, center);
    @include flex(align-items, center);
  }

  figure {
    @include flex(display, flex);
    @include flex(justify-content, space-around);
    @include flex(align-items, center);
  }
}

.main-footer {
  background-color: #79b6bf;
  color: white;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  .devs {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 85vw;
    max-width: 800px;
    text-align: center;

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      margin: 1.5rem;
    }

    a {
      margin: 1rem;
    }
  }
}
