.navbar-home {
  // background-color: white;
  width: 100vw;
  height: $navbar-height;
  display: flex;
  position: fixed;
  color: #4B2D12;

  a {
    font-size: 3rem;
    margin: 30px;
  }
}

.main-section {
  background-image: url('/vector3.svg');
  background-size: cover;

  height: 100vh;
  padding-top: $navbar-height;
  
  color: #4B2D12;

  &__info {
    // margin: 50px;
    height: 30vh;
    @include flex(display, flex);
    @include flex(flex-direction, column);
    @include flex(align-items, flex-start);
  }

  h1 {
    font-size: 10rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  p {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  &__figure {
    @include flex(display, flex);
    @include flex(justify-content, flex-end);
    @include flex(align-items, flex-start);
    min-width: 41.6rem;
    min-height: 41.6rem;

    &__img {
      width: 100%;
      height: auto;
    }
  }
}

.instructions {
  background-color: #79B6BF;
  color: white;
  h1, h2 {
    font-weight: bold;
    font-size: 8rem;
    text-align: center;
  }

  h1 {
    padding-top: 100px;
  }

  p {
    font-size: 2.5rem;
    margin-top: 100px;
    width: 35vw;
    text-align: center;
  }
}
.container-instructions {
  justify-content: center;
  height: 90vh;
  padding: 30px;
  h2 {
    font-size: 6rem;
  }
}
.regular {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: #4B2D12;
}
.instructions-img {
  height: auto;
  width: 50vw;
}

.main-footer {
  background-color: #79B6BF;
  color: white;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  .devs {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 30vw;
  }
}