//provisory to improve view
* {
  font-size: $root_size;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;

  //provisory
  padding: 50px;
  font-family: $main-font;
  // font-size: 3rem;
}

img {
  width: 100px;
  height: auto;
}

// provisory

input {
  padding: 20px;
}

h1 {
  padding: 10px
}

a {
  padding: 10px
}