//provisory to improve view
* {
  font-size: $root_size;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;

  //provisory
  // padding: 50px;
  font-family: $main-font;
  // font-size: 3rem;
}

// provisory


.title {
  font-size: $title-size;
  color: $title-color;
}