.container--no-grid {
  @extend .container;
  display: block;

  h1 {
    width: auto;
  }
}

.single-product {
  @include flex(display, flex);
  @include flex(justify-content, flex-start);
  @include flex(align-items, flex-start);
  margin: 8rem auto;

  @media (max-width: 1024px) {
    @include flex(flex-direction, column);
    @include flex(align-items, center);
  }

  &-figure {
    @extend .flex-center;
    @include flex(align-items, flex-start);
    max-width: 46.2rem;
    max-height: 46.2rem;
    
    width: 100%;
    height: 100%;

    &__img {
      width: 100%;
    }
  }

  &-info {
    margin-left: 10rem;
    width: 100%;
    max-width: 41.9rem;
    min-height: 46.2rem;
    @include flex(display, flex);
    @include flex(flex-direction, column);
    @include flex(justify-content, space-between);

    @media (max-width: 1024px) {
      margin: 2rem 0;
      min-height: auto;
    }

    &__header {
      font-size: 1.8rem;
      line-height: 3rem;
    }

    &__footer {
      @include flex(display, flex);
      @include flex(justify-content, space-between);
      @include flex(align-items, center);
      
      @media (max-width: 1024px) {
        margin: 2rem 0;
      }

      & > p {
        font-size: 3.6rem;
        font-weight: bold;
        color: $title-color;
      }
    }
  }
}
