.container--store {
  width: 100%;
  @include flex(display, flex);
  @include flex(justify-content, space-around);
  padding: 20px 20px;
}

.container--products {
  width: 50%;
  @include grid(display, grid);
  @include grid(grid-template-columns, repeat(2, 1fr));
  @include grid(justify-items, center);
  @include grid(grid-gap, 20px);
  overflow: scroll;
  
  @media (max-width:1000px){
    width: 100%;
    @include grid(grid-template-columns, repeat(4, 1fr));
  }
  @media (max-width:800px){
    width: 100%;
    @include grid(grid-template-columns, repeat(3, 1fr));
  }
  @media (max-width:500px){
    width: 100%;
    @include grid(grid-template-columns, repeat(2, 1fr));
  }
  @media (max-width:463px){
    width: 100%;
    @include grid(grid-template-columns, repeat(1, 1fr));
  }

}

//Product
.product-content {
  height: auto;
  padding: 1px;
  @include flex(display, flex);

  button {
    height: 100%;
    margin-left: auto;
  }
}

.product-info {
  font-size: 1.8rem;

  & > * {
    padding: 2px;
  }
}

.price {
  font-weight: bold;
}

.bin {
  height: 100%;
}

.product-image {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.esgotado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background-color:$btn-red;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.add-btn {
  @extend .flex-center;
  height: 100%;
  padding: 5px;
  background-color: $title-color;
  margin-left: auto;
  input {
    background-color:transparent;
    height: 100%;
    border: none;
    color: white;
    font-size: 1.8rem;
  }

  img {
    height: 80%;
  }
}

//owner panel
.owner-panel {
  position: relative;
  width: 40%;
  @include grid(display, grid);
  @include grid(grid-template-columns, repeat(2, 1fr));

  a {
    width: 200px;
    height: 200px;
    @extend .flex-center;

    font-weight: bold;
    color: $title-color;
    font-size: 2.4rem;

    background-color: $plus-sign-bgcolor;

    h2 {
      width: 70%;
      text-align: center;
    }

    @media (max-width: 1000px){
      height: 25vh;
    }
  }

  @media (max-width: 1000px) {
    max-height: 100vh;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    transform: translateX(200px);
    transition:transform 0.2s linear;

  }
}

.close-panel {
  position: absolute;
  display: none;
  width: 100%;
  padding: 5px;
  margin-left: auto;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
  background-color:$plus-sign-bgcolor;

  @media (max-width: 1000px) {
    display: inline-block;
  }
}

.menu-trigger {
  display: none;
  margin-left: auto;
  @media (max-width:1000px){
    display: inline-block;
  }
}

//carrinho

.container--carrinho {
  width: 50%;
  height: 100%;
  @extend .flex-center;

  @media (max-width:1000px){
    position:fixed;
    top:0px;
    right:0px;
    padding:0;
    width: 350px;
    height: 100vh;
    transform:translateX(400px);
    transition:transform 0.2s linear;
  }
}

.carrinho {
  position: relative;
  width: 450px;
  height: 80vh;
  background-color:$painel-bg-color;
  
  @media (max-width:1000px){
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
  }
}

.carrinho__title {
  @include flex(display, flex);
  @include flex(align-items, center);
  @include flex(justify-content, center);
  
  height: 50px;
  font-size: 4rem;
  font-weight: bold;
  padding: 0 10px;
  width: 100%;
  height: auto;
  text-align: center;
  color:white;
  background-color:$title-color;

  img {
    height: 100%;
    margin-right: 10px;
  }

  @media (max-width:1000px){
    font-size: 3rem;
  }

}

.carrinho__item {
  @extend .flex-center;
  @include flex(justify-content, space-between);
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;

  font-size: 2.4rem;

  h2 {
    font-weight: 400;
  }

  button {
    height: 100%;
  }

  img {
    height: 80%;
    margin-left: 10px;
  }

  strong {
    font-size: 2.4rem;
    @media (max-width:1000px){
      font-size: 1.8rem;
    }
  }

  @media (max-width:1000px){
    font-size: 1.8rem;
  }
}

.total-container {
  @extend .flex-center;
  @include flex(justify-content, space-between);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: $title-color;
  color: white;
  font-size: 3.6rem;

  @media (max-width:1000px){
    font-size: 3rem;
  }
}

.total-amount {
  @include flex(display, flex);
  h2 {
    margin-right: 10px;
  }
}

.enviar-btn {
  padding: 5px;
  background-color: $painel-bg-color;
  font-size: 2.4rem;
}

//carrinho mobile
.cart-mobile {
  margin-left: auto;
  width: 90px;
  display: none;
  color: white;
  background-color:$title-color;
  font-size: 1.4rem;

  @media (max-width: 1000px){
    @include flex(display, flex);
    @include flex(align-items, center);
    @include flex(justify-content, space-around);
  }
}

.close-cart {
  cursor: pointer;
  margin-left: auto;
  display: none;
  @media (max-width:1000px) {
    display: inline-block;
  }
}